{% extends 'main.html' %}
{% block title %}
    <title>Reset Senha</title>
{% endblock %}
{% block content %}
  <div class="text-center">
    <img src="/static/img/logo_geps.png" width="300" height="200"><br><br>
    <h2>Bem-vindo a página de redefinição de senha</h2><br>
    <h4>Por favor digite o email utilizado no momento do cadastro</h4>
    <h4>para que possamos enviar o link para substituição da senha</h4>
  </div>
  <br/>
    <form action="" method="POST" class="text-center">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Enviar Email" style="background-color: #5791ff;border: none;color: white;padding: 3px 20px;margin-top: 20px;"/>
    </form>
  <br/>
  <div class="text-center">
    <a href="/home/">Retornar a página inicial</a>
  </div>
{% endblock%}
