{% extends 'main.html' %}
{% block title %}
    <title>Reset Senha</title>
{% endblock %}
{% block content%}
    <div class="text-center">
      <img src="/static/img/logo_geps.png" width="300" height="200"><br><br>
      <h2>Redefinição de Senha</h2><br>
      <h4>Por favor digite sua nova senha</h4>
    </div>
    <br>
    {% if validlink %}
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td class="text-dark">{{ form.new_password1.errors }}
                        <label>Nova Senha:</label>
                    </td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td class="text-danger">{{ form.new_password2.errors }}
                        <label class="text-dark">Confirme Nova Senha:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Redefinir Senha" style="background-color: #5791ff;border: none;color: white;padding: 3px 20px;margin-top: 20px;"/></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Erro na Redefinição de Senha</h1>
        <p  class="text-danger">O link de redefinição de senha é inválido, possivelmente porque já foi utilizado. Por favor, solicite novamente e refinição de senha.</p>
    {% endif %}
{% endblock %}
