{% extends 'main.html' %}
{% block title %}
    <title>Reset Senha</title>
{% endblock %}
{% block content%}
    <div class="text-center">
        <img src="/static/img/logo_geps.png" width="300" height="200"><br><br>
        <h1>Email de Redefinição de Senha Enviado !</h1>
        <h5>Enviamos um email com link para redefinição de senha. Favor verificar sua caixa de email.</h5><br>
        <h6 style="width: 60%; margin: 0 auto">Se não recebeu um email na caixa de entrada, por favor verifique na pasta de spam.</h6>
    </div>
    <div class="text-center">
        <a href="/home/">Retornar a página inicial</a>
    </div>
{% endblock%}