{% extends 'dashboard/home.html' %}
{% load static %}
{% block content %}
<div class="form-2-container section-container section-container-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col form-2-box wow fadeInUp">
                {% if msg %}
                    <div class="alert {{class}} mensagem mx-auto text-center" id="msg">
                        {{msg}}
                    </div>
                {% endif %}
                <form action="/pesquisaDocente/" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group p-2">
                                <legend class="w-auto px-3"><strong>Pesquisa Docente</strong></legend>
                                <fieldset class="form-group border p-2 bg-white">
                                    <!-- Segunda-Feira -->
                                    <fieldset class="form-group border p-3">
                                        <label class="form-check-label"><strong>Segunda-Feira</strong></label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="seg_manha" value="seg_manha" {% if 'seg_manha' in checks %}checked{% endif %} >
                                            <label class="form-check-label" for="seg_manha">Manhã</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="seg_tarde" value="seg_tarde" {% if 'seg_tarde' in checks %}checked{% endif %}>
                                            <label class="form-check-label" for="seg_tarde">Tarde</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="seg_noite" value="seg_noite" {% if 'seg_noite' in checks %}checked{% endif %}>
                                            <label class="form-check-label" for="seg_noite">Noite</label>
                                        </div>
                                    </fieldset>
                                    <!-- Terça-Feira -->
                                    <fieldset class="form-group border p-3">
                                        <label class="form-check-label"><strong>Terça-Feira</strong></label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="ter_manha" value="ter_manha" {% if 'ter_manha' in checks %}checked{% endif %}>
                                            <label class="form-check-label" for="ter_manha">Manhã</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="ter_tarde" value="ter_tarde" {% if 'ter_tarde' in checks %}checked{% endif %}>
                                            <label class="form-check-label" for="ter_tarde">Tarde</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="ter_noite" value="ter_noite" {% if 'ter_noite' in checks %}checked{% endif %}>
                                            <label class="form-check-label" for="ter_noite">Noite</label>
                                        </div>
                                    </fieldset>
                                    <!-- Quarta-Feira -->
                                    <fieldset class="form-group border p-3">
                                        <label class="form-check-label"><strong>Quarta-Feira</strong></label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="qua_manha" value="qua_manha" {% if 'qua_manha' in checks %}checked{% endif %}>
                                            <label class="form-check-label" for="qua_manha">Manhã</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="qua_tarde" value="qua_tarde" {% if 'qua_tarde' in checks %}checked{% endif %}>
                                            <label class="form-check-label" for="qua_tarde">Tarde</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="qua_noite" value="qua_noite" {% if 'qua_noite' in checks %}checked{% endif %}>
                                            <label class="form-check-label" for="qua_noite">Noite</label>
                                        </div>
                                    </fieldset>
                                    <!-- Quinta-Feira -->
                                    <fieldset class="form-group border p-3">
                                        <label class="form-check-label"><strong>Quinta-Feira</strong></label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="qui_manha" value="qui_manha" {% if 'qui_manha' in checks %}checked{% endif %}>
                                            <label class="form-check-label" for="qui_manha">Manhã</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="qui_tarde" value="qui_tarde" {% if 'qui_tarde' in checks %}checked{% endif %}>
                                            <label class="form-check-label" for="qui_tarde">Tarde</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="qui_noite" value="qui_noite" {% if 'qui_noite' in checks %}checked{% endif %}>
                                            <label class="form-check-label" for="qui_noite">Noite</label>
                                        </div>
                                    </fieldset>
                                    <!-- Sexta-Feira -->
                                    <fieldset class="form-group border p-3">
                                        <label class="form-check-label"><strong>Sexta-Feira</strong></label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="sex_manha" value="sex_manha" {% if 'sex_manha' in checks %}checked{% endif %}>
                                            <label class="form-check-label" for="sex_manha">Manhã</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="sex_tarde" value="sex_tarde" {% if 'sex_tarde' in checks %}checked{% endif %}>
                                            <label class="form-check-label" for="sex_tarde">Tarde</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="form-check-input" type="checkbox" name="diaSemana" id="sex_noite" value="sex_noite" {% if 'sex_noite' in checks %}checked{% endif %}>
                                            <label class="form-check-label" for="sex_noite">Noite</label>
                                        </div>
                                    </fieldset>
                                    <div class="text-center">
                                        <label><strong>Validação:</strong></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <select name="cons_validacao" class="form-select" aria-label="Default select">
                                            {% if cons_validacao == '1' %}
                                                <option value="1" selected >Validado</option>
                                            {% else %}
                                                <option value="1">Validado</option>
                                            {% endif %}
                                            {% if cons_validacao == '0' %}
                                                <option value="0" selected >Não Validado</option>
                                            {% else %}
                                                <option value="0">Não Validado</option>
                                            {% endif %}
                                            {% if cons_validacao == '2' %}
                                                <option value="2" selected >Bloqueado</option>
                                            {% else %}
                                                <option value="2">Bloqueado</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="text-center">
                                        <label><strong>Bairro:</strong></label>
                                        <select name="cons_bairro_regiao" class="form-select" aria-label="Default select" style="width: 57%;">
                                            {% if retorno_bairro_nome %}
                                                <option value="{{ cons_bairro_regiao }}" selected >{{ retorno_bairro_nome }}</option>
                                                <option value="0">Todos</option>
                                            {% else %}
                                                <option value="0" selected >Todos</option>
                                            {% endif %}
                                            {% for bairro in all_bairros %}
                                                <option value="{{ bairro.id }}">{{ bairro.nome }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-customized">Pesquisar</button>
                                    </div>
                                </fieldset>
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <!-- Resultado da Pesquisa -->
                            <fieldset class="form-group p-2">
                                <legend class="w-auto px-2"><strong>Resultado</strong></legend>
                                <div class="form-group" style="position: absolute;overflow-y: auto; height: 80%;">
                                    {% for dado in dados %}
                                        {% for dad in dado %}
                                            <input type="submit" class="btnDocente btn btn-primary btn-customized" value='{{ dad }}' id='btnDocente' style="width: 250px;"><br><br>
                                        {% endfor %}
                                    {% empty %}
                                        {% if pesquisar == '1' %}
                                            <label class="w-auto px-2"><small><strong>Nenhum Docente Encontrado!</strong></small></label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-5">
                            <input type="hidden" name="nome_instituicao" value="{{ nome_instituicao }}">
                </form>
                <form action="/gravaStatusDocente/" method="post" name="formGravaStsDocente">
                    {% csrf_token %}
                            <!-- Dados do Docente -->
                            <fieldset class="form-group p-2">
                                <legend class="w-auto px-2"><strong>Dados do Docente</strong></legend>
                                <fieldset class="form-group border p-2 bg-white">
                                    <div class="form-group">
                                        <label for="nome-docente">Nome:</label>
                                        <input type="text" class="form-control item" name="name" id="nome-docente" readonly>
                                        <label for="email-docente">Email:</label>
                                        <input type="text" class="form-control item" name="email" id="email-docente" readonly>
                                        <label for="tel-docente">Telefone:</label>
                                        <input type="text" class="form-control item" name="telefone" id="tel-docente" readonly>
                                        <label for="reg-funcional">Registro Funcional:</label>
                                        <input type="text" class="form-control item" name="registro_funcional" id="reg-funcional" readonly>
                                        <br><label style="text-align:center"><strong>Validação do Registro Funcional</strong></label><br>
                                        <input type="radio" name="validacao" id="nao_validado" value="nao_validado">
                                        <label for="nao_validado">Não Validado</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="validacao" id="validado" value="validado">
                                        <label for="validado">Validado</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="validacao" id="bloqueado" value="bloqueado">
                                        <label for="bloqueado">Bloqueado</label>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btnStsDocente btn btn-primary btn-customized">Gravar</button>
                                    </div>
                                    <input type="hidden" name="nome_instituicao" id="nome_instituicao" value="{{ nome_instituicao }}">
                </form>
                                    <hr>
                                    <div class="text-center">
                                        <label class="text-center"><strong>Enviar Mensagem ao Docente</strong></label><br>
                                        <textarea class="form-control" id="mensagem_email" rows="3"></textarea>
                                        <a class="btnEmailDocente btn btn-primary" role="button" onclick="enviaEmail();">Enviar Email</a>
                                    </div>
                                </fieldset>
                            </fieldset>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Função ajax para buscar docente sem refresh
    $('.btnDocente').click(function(e){
        e.preventDefault();
        var nome_docente = $(this).val();
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            url: '/buscaDocente',
            type: 'POST',
            headers:{ "X-CSRFToken": csrftoken },
            data: {
                'nome_docente': nome_docente,
            },
        }).fail(function(jqXHR, textStatus, errorThrown) {
            alert(textStatus + ': ' + errorThrown);
        }).done(function (data) {
            if(!data.hasOwnProperty('error')){
                var res = JSON.parse(data);
                document.getElementById("nome-docente").value = res[0].fields.nome;
                document.getElementById("email-docente").value = res[0].fields.email;
                document.getElementById("tel-docente").value = res[0].fields.telefone;
                document.getElementById("reg-funcional").value = res[0].fields.reg_funcional;
                if (res[0].fields.status == 1) {
                    document.getElementById("validado").checked = true;
                    document.getElementById("bloqueado").checked = false;
                    document.getElementById("nao_validado").checked = false;
                } else if (res[0].fields.status == 2) {
                    document.getElementById("validado").checked = false;
                    document.getElementById("bloqueado").checked = true;
                    document.getElementById("nao_validado").checked = false;
                } else {
                    document.getElementById("validado").checked = false;
                    document.getElementById("bloqueado").checked = false;
                    document.getElementById("nao_validado").checked = true;
                }
            }
        });
    });
</script>
<script>
    // Função ajax para gravar status docente sem refresh
    $('.btnStsDocente').click(function(e){
        e.preventDefault();
        var nome_instituicao = document.getElementById('nome_instituicao').value;
        var validacao = document.formGravaStsDocente.validacao.value;
        var nome_docente = document.getElementById("nome-docente").value;
        var email = document.getElementById("email-docente").value;
        if(document.getElementById("nome-docente") && document.getElementById("nome-docente").value){
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                url: '/gravaStatusDocente',
                type: 'POST',
                headers:{ "X-CSRFToken": csrftoken },
                data: {
                    'nome_docente': nome_docente,
                    'validacao': validacao,
                    'nome_instituicao': nome_instituicao,
                    'email': email,
                },
            }).fail(function(jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).done(function (data) {
                if(!data.hasOwnProperty('error')){
                    alert("Validação Gravada com Sucesso !");
                }
            });
        }else{
            alert("Docente não Selecionado !");
        }
    });
</script>
<script>
    function enviaEmail(){
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var nome_instituicao = document.getElementById('nome_instituicao').value;
        var assunto = 'Aula Disponível - ' + nome_instituicao;
        if(document.getElementById("email-docente") && document.getElementById("email-docente").value){
            var email_docente = document.getElementById('email-docente').value;
            if(document.getElementById("mensagem_email") && document.getElementById("mensagem_email").value){
                var mensagem = document.getElementById('mensagem_email').value;
                $.ajax({
                    url: "/enviandoEmail/",
                    type: "GET",
                    headers:{ "X-CSRFToken": csrftoken },
                    data: {
                        'assunto': assunto,
                        'mensagem': mensagem,
                        'email': email_docente,
                    },
                }).done(function() {
                    alert('Mensagem Enviada !');
                });
            } else {
                alert('Falta Mensagem !');
            }
        } else {
            alert('Falta Email !');
        }
    }
</script>
{% endblock %}