{% extends 'main.html' %}
{% block title %}
    <title>Cadastro da Instituição de Ensino</title>
{% endblock %}
{% block content %}
    <div class="cadastro-form">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group"></div>
            <div class="btn-group mx-auto">
                <a href="/home/" class="btn btn-primary">Home</a>&nbsp;
            </div>
        </div>
        <form action="/insertInst/" name="form-inst" id="formInst" method="post">
            <div>
                {% if msg %}
                    <div class="alert {{class}} mensagem mx-auto">
                        {{msg}}
                    </div>
                {% endif %}
                {% csrf_token %}
                <div class="form-icon">
                    <span><i class="icon icon-user"></i></span>
                </div>
                <div class="form-inline">
                    <input type="text" class="form-control item" name="name" id="name" placeholder="Nome da Instituição:" style="width:100%">
                </div>
                <br>
                <div class="form-inline">
                    <input type="text" class="form-control item" name="endereco" id="endereco" placeholder="Endereço:" style="width:80%">
                    <input type="text" class="form-control item" name="numero" id="numero" placeholder="Número:" style="width:20%">
                </div>
                <br>
                <div class="form-inline">
                    <input type="text" class="form-control item" name="bairro" id="bairro" placeholder="Bairro:" style="width:60%">
                    <input type="text" class="form-control item" name="cep" id="cep" placeholder="CEP:" style="width:40%">
                </div>
                <br>
                <div class="form-inline">
                    <input type="text" class="form-control item" name="municipio" id="municipio" placeholder="Município:" style="width:80%">
                    <input type="text" class="form-control item" name="uf" id="uf" placeholder="UF:" style="width:20%">
                </div>
                <br>
                <div class="form-inline">
                    <input type="text" class="form-control item" name="email_inst" id="email_inst" placeholder="Email da Instituição:" style="width:60%">
                    <input type="text" class="form-control item" name="telefone_inst" id="telefone_inst" placeholder="Tel. da Instituição com DDD:" style="width:40%">
                </div>
                <br>
                <div class="form-inline">
                    <input type="text" class="form-control item" name="name_resp" id="name_resp" placeholder="Nome do Responsável:" style="width:100%">
                </div>
                <br>
                <div class="form-inline">
                    <input type="text" class="form-control item" name="email_resp" id="email_resp" placeholder="Email do Responsável:" style="width:60%">
                    <input type="text" class="form-control item" name="telefone_resp" id="telefone_resp" placeholder="Tel. do Responsável com DDD:" style="width:40%">
                </div>
                <br>
                <div class="form-inline">
                    <input type="password" class="form-control item" name="password" id="password" placeholder="Senha:" style="width:50%">
                    <input type="password" class="form-control item" name="password-conf" id="password-conf" placeholder="Repita a Senha:" style="width:50%">
                </div>
                <br>
                <div class="form-group mx-auto">
                    <button type="submit" class="btn btn-block criar-conta">Criar Conta</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}