{% extends 'main.html' %}
{% block title %}
    <title>Cadastro da Instituição de Ensino</title>
{% endblock %}
{% block content %}
    <div class="cadastro-form">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group"></div>
            <div class="btn-group mx-auto">
                <a href="/home/" class="btn btn-primary">Home</a>&nbsp;
            </div>
        </div>
        <form action="/buscaCEP/" name="form-buscacep" id="formBuscaCEP" method="post">
            <div>
                {% if msg %}
                    <div class="alert {{class}} mensagem mx-auto" id="msg">
                        {{msg}}
                    </div>
                {% endif %}
                {% csrf_token %}
                <div class="form-icon">
                    <span><i class="icon icon-user" ></i></span>
                </div>
                <div class="autocomplete" style="width:300px;margin: auto;">
                    <input class="autocomplete-input" id="buscacep" name="buscacep" placeholder="Digite o CEP" style="height: 40px;"/>
                </div>
        </form>
        <form action="/insertInst/" name="form-inst" id="formInst" method="post">
                <div class="form-inline">
                    <input type="text" class="form-control item" name="name" id="name" placeholder="Nome da Instituição:" value="{{ name }}" style="width:100%">
                </div>
                <br>
                <div class="form-inline">
                    <input type="text" class="form-control item" name="endereco" id="endereco" placeholder="Endereço:" value="{{ endereco }}" style="width:80%">
                    <input type="text" class="form-control item" name="numero" id="numero" placeholder="Número:" value="{{ numero }}" style="width:20%">
                </div>
                <br>
                <div class="form-inline">
                    <input type="text" class="form-control item" name="bairro" id="bairro" placeholder="Bairro:" value="{{ bairro }}" style="width:60%">
                    <input type="text" class="form-control item" name="cep" id="cep" placeholder="CEP:" value="{{ cep }}" style="width:40%">
                </div>
                <br>
                <div class="form-inline">
                    <input type="text" class="form-control item" name="municipio" id="municipio" placeholder="Município:" value="{{ municipio }}" style="width:80%">
                    <input type="text" class="form-control item" name="uf" id="uf" placeholder="UF:" value="{{ uf }}" style="width:20%">
                </div>
                <br>
                <div class="form-inline">
                    <input type="text" class="form-control item" name="email_inst" id="email_inst" placeholder="Email da Instituição:" value="{{ email_inst }}" style="width:60%">
                    <input type="text" class="form-control item" name="telefone_inst" id="telefone_inst" placeholder="Tel. da Instituição com DDD:" value="{{ telefone_inst }}" style="width:40%">
                </div>
                <br>
                <div class="form-inline">
                    <input type="text" class="form-control item" name="nome_resp" id="nome_resp" placeholder="Nome Completo do Responsável:" value="{{ nome_resp }}" style="width:60%">
                    <input type="text" class="form-control item" name="name_resp" id="name_resp" placeholder="Nome de Usuário do Responsável:" value="{{ name_resp }}" style="width:40%">
                </div>
                <br>
                <div class="form-inline">
                    <input type="text" class="form-control item" name="email_resp" id="email_resp" placeholder="Email do Responsável:" value="{{ email_resp }}" style="width:60%">
                    <input type="text" class="form-control item" name="telefone_resp" id="telefone_resp" placeholder="Tel. do Responsável com DDD:" value="{{ telefone_resp }}" style="width:40%">
                </div>
                <br>
                <div class="form-inline">
                    <input type="password" class="form-control item" name="password" id="password" placeholder="Senha:" style="width:50%">
                    <input type="password" class="form-control item" name="password-conf" id="password-conf" placeholder="Repita a Senha:" style="width:50%">
                </div>
                <br>
                <div class="form-group mx-auto">
                    <button type="submit" class="btn btn-block criar-conta" id="btn-criar-conta">Criar Conta</button>
                </div>
            </div>
        </form>
    </div>
    <div id="regra_senha">
        <span class="small">
            <ul>
                <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                <li>Sua senha precisa conter pelo menos 9 caracteres.</li>
                <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                <li>Sua senha não pode ser inteiramente numérica.</li>
            </ul>
        </span>
    </div>
<script>
    $('input[name="telefone_inst"]').mask('(00) 00000-0000');
    $('input[name="telefone_resp"]').mask('(00) 00000-0000');
    $('input[name="cep"]').mask('00000-000');
</script>
{% endblock %}