{% extends 'main.html' %}
{% block title %}
    <title>Troca da Senha</title>
{% endblock %}
{% block content %}
    <div class="cadastro-form">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group"></div>
            <div class="btn-group mx-auto">
                <a href="/dashboard/" class="btn btn-primary">Voltar</a>&nbsp;
            </div>
        </div>
        <form action="/validChangePassword/" name="formChangePass" id="formChangePass" method="post">
            <div>
                {% if msg %}
                    <div class="alert {{class}} mensagem mx-auto">
                        {{msg}}
                    </div>
                {% endif %}
                {% csrf_token %}
                <div class="form-icon">
                    <span><i class="icon icon-user"></i></span>
                </div>
                <div class="form-group mx-auto">
                    <input type="text" class="form-control item" name="email" id="email" value={{request.user.email}} disabled >
                </div>
                <div class="form-group mx-auto">
                    <input type="password" class="form-control item" name="password" id="password" placeholder="Nova Senha do Usuário:">
                </div>
                <div class="form-group mx-auto">
                    <input type="password" class="form-control item" name="password-conf" id="password-conf" placeholder="Repita a Nova Senha:">
                </div>
                <div class="form-group mx-auto">
                    <button type="submit" class="btn btn-block criar-conta">Gravar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}