{% extends 'main.html' %}

{% block content %}
    <div class="text-pol">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group"></div>
            <div class="btn-group mx-auto">
                <a href="/home/" class="btn btn-primary">Home</a>&nbsp;
            </div>
        </div>
        <div class="text-center">
        <h3>Política de Cookies do site "GEPS - Gerenciamento Eletrônico de Professores Substitutos"</h3>
        Este documento informa os Usuários sobre as tecnologias que ajudam este Site a alcançar as finalidades descritas abaixo. Tais tecnologias permitem ao Proprietário acessar e armazenar informações (por exemplo, usando um Cookie) ou usar recursos (por exemplo, executando um script) em um dispositivo de um Usuário à medida que interagem com este Site.
        Para fins de simplicidade, todas estas tecnologias são definidas como "Rastreadores" neste documento – a menos que haja um motivo para diferenciá-las.
        Por exemplo, enquanto Cookies podem ser usados em navegadores de web e dispositivos móveis, seria incorreto falar sobre Cookies no contexto de aplicativos móveis, pois eles são um rastreador baseado em um navegador. Por este motivo, neste documento, o termo Cookies somente é usado onde ele especificamente indicar aquele tipo específico de Rastreador.
        Algumas das finalidades para as quais Rastreadores são usados também podem exigir a permissão do Usuário. Sempre que a permissão for dada, ela pode ser livremente retirada a qualquer momento, seguindo as instruções fornecidas neste documento.
        Este Site usa Rastreadores gerenciados diretamente pelo Proprietário (conhecidos como Rastreadores "próprios") e Rastreadores que permitem serviços prestados por um terceiros (conhecidos como Rastreadores de "terceiros"). A menos que seja especificado de outra forma neste documento, terceiros provedores poderão acessar os Rastreadores gerenciados por eles.
        Os períodos de validade e expiração dos Cookies e outros Rastreadores similares poderão variar, dependendo do prazo estabelecido pelo Proprietário ou respectivo provedor. Alguns deles expiram quando do término da sessão de navegação do Usuário.
        Além do que está especificado nas descrições dentro de cada categoria abaixo, os Usuários poderão encontrar informações mais precisas e atualizadas quanto à estipulação do prazo, assim como quaisquer outras informações relevantes – tais como a presença de Rastreadores – nos links das políticas de privacidade dos respectivos terceiros provedores ou entrando em contato com o Proprietário.
        Para encontrar mais informações dedicadas a consumidores da Califórnia e seus direitos de privacidade, os Usuários poderão ler a política de privacidade.
        Atividades estritamente necessárias para operar este Site e prestar o Serviço
        <br>
        Este Site usa Cookies conhecidos como Cookies "técnicos" estritamente para controle de sessão de usuário nesse site, não usa Rastreadores.
        <br>
        Duração da armazenagem: _session: durante o uso da sessão
        </div>
    </div>
{% endblock %}